<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="jumbotron">
		<h1>HOME</h1>
		<h2>Movies Search</h2>

		<form method="post">
	        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	        <label>Title:</label>
	        <input type="text" name="title" class="form-control">
	        <br>
	        <input type="submit" name="Envoyer" value="Submit" class="btn btn-lg btn-success">
	    </form>
	</div>
</body>
</html>